body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
  }

#display {
    flex: 0;
}

#login-area {
    flex: 1;
}

#footer-bot {
    flex: 0;
}

#github-link {
    text-decoration: none;
}