body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
  }

  header {
    flex: 0 80px;
    background: hsl(223, 57%, 38%);
  }
  
  footer {
    flex: 0 30px;
    background: hsl(180, 10%, 10%);
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  main div {
    text-align: center;
    font-size: 3em;
    color:black;
    border-style: solid;
    border-width: 5px;
    border-color: darkorchid;
    border-radius: 10px;
    padding: 100px 100px 100px 100px;
    margin: 100px 100px 100px 100px;
    background-color: peachpuff;
  } 
  
  a.text-reset {
        text-decoration: none;
        float: right;
  }